@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@layer components {
    /*
    The class name are one character long on purpose to avoid bloating the generated diff
    We are using apply here only because otherwise,
    tailwind cli does not pick the class in the generated diff.
    This should not be used if not absolutely needed.
    see: https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
     */
    /* file diff container */
    .d {
        @apply flex flex-col whitespace-pre-wrap rounded-md border-2 border-slate-200;
    }

    /* file diff header (icon + filename) */
    .h {
        @apply flex flex-row items-center p-2 justify-items-center font-bold border-b-2 border-slate-200;
    }

    /* code line number */
    .l {
        @apply pr-3 text-right bg-zinc-200;
    }

    /* code line */
    .c {
        @apply pl-5 w-max;
    }
}

@layer prism {
    pre[class*=language-] {
        @apply bg-slate-600 rounded
    }

    code[class*=language-], pre[class*=language-] {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        line-height: 1.5;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    pre[class*=language-] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
    }

    :not(pre) > code[class*=language-], pre[class*=language-] {
        background: #272822;
    }

    :not(pre) > code[class*=language-] {
        padding: .1em;
        border-radius: .3em;
        white-space: normal;
    }

    .token.cdata, .token.comment, .token.doctype, .token.prolog {
        @apply text-slate-400
    }

    /*
    .token.punctuation {
    }

    .token.namespace {
    }
    */

    .token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
        @apply text-red-400
    }

    .token.boolean, .token.number {
        @apply text-violet-400
    }

    .token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
        @apply text-blue-800
    }

    .language-css .token.string, .style, .token.entity, .token.operator, .token.url, .token.variable {
        @apply text-green-600
    }

    .token.class-name {
        @apply text-slate-800
    }

    .token.atrule, .token.attr-value, .token.function {
        @apply text-indigo-400
    }

    .token.keyword {
        @apply text-red-600
    }

    .token.important, .token.regex {
        @apply text-amber-400
    }

    .token.bold, .token.important {
        @apply font-bold
    }

    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help
    }
}
