*
!crates/**
!Cargo.toml
!Cargo.lock
!sqlx-data.json
!/etc/ssh/sshd_config
!/opt/gill/migrations/**
!docker/entrypoint.sh
!docker/sshd_config
!target/armv7-unknown-linux-musleabihf/release/gill-app
!target/armv7-unknown-linux-musleabihf/release/gill-git-server
!target/armv7-unknown-linux-musleabihf/release/post-receive
!target/aarch64-unknown-linux-musl/release/gill-app
!target/aarch64-unknown-linux-musl/release/gill-git-server
!target/aarch64-unknown-linux-musl/release/post-receive
!target/x86_64-unknown-linux-musl/release/gill-app
!target/x86_64-unknown-linux-musl/release/gill-git-server
!target/x86_64-unknown-linux-musl/release/post-receive