[submodule "crates/ruisseau-api/src/syntax_highlight/Packages"]
	path = crates/ruisseau-api/src/syntax_highlight/Packages
	url = https://github.com/sublimehq/Packages.git
[submodule "crates/ruisseau-api/assets/syntax-definitions/Packages"]
	path = crates/ruisseau-api/assets/syntax-definitions/Packages
	url = https://github.com/sublimehq/Packages.git
