<script src="/assets/js/uri-helpers.js"></script>
<script>
    const dropDownBranches = () => {
        let branchesMenu = document.getElementById("branches-dropdown")
        branchesMenu.classList.remove("invisible");
        branchesMenu.classList.replace("opacity-0", "opacity-100");
    }

    const closeDropDown = () => {
        let branchesMenu = document.getElementById("branches-dropdown")
        branchesMenu.classList.replace("opacity-100", "opacity-0");
    }

    document.addEventListener('click', function (e) {
        let container = document.getElementById('branch-dropdown-container');
        if (!container.contains(e.target)) {
            closeDropDown();
        }
    });
</script>
<style>
    pre {
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
</style>