{% extends "base.html" %}
{% block head %}{% endblock %}
{% block content_left %}{% endblock %}
{% block content %}
<ul class="flex flex-col divide-y divide-slate-200">
    <li class="flex flex-col py-4">
    <span class="pb-5">
        <a href="/oknozor/axum"
           class="text-lg text-sky-600 font-bold hover:underline">
            Toml-bombadil
        </a>
        <span class="text-sm border rounded-full border-gray-400 p-1 font-light">
            Public
        </span>
    </span>
        <span class="text-slate-600 pb-2 text-base pb-5"> With a nice and long description that explain what this repo
        does and is very helpfull and make me want to fork it
    </span>
        <div class="flex flex-row text-sm">
            <a class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>28</span>
                <i class="text-sm ti ti-star"></i>
            </a>
            <a class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>12</span>
                <i class="text-sm ti ti-git-fork"></i>
            </a>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>MIT License</span>
                <i class="text-sm ti ti-scale"></i>
            </div>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>3 issues need help</span>
            </div>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>Updated 20 hours ago</span>
            </div>
        </div>
    </li>

    <li class="flex flex-col py-4">
    <span class="pb-5">
        <a href="/oknozor/axum"
           class="text-lg text-sky-600 font-bold hover:underline">
            Toml-bombadil
        </a>
        <span class="text-sm border rounded-full border-gray-400 p-1 font-light">
            Public
        </span>
    </span>
        <span class="text-slate-600 pb-2 text-base pb-5"> With a nice and long description that explain what this repo
        does and is very helpfull and make me want to fork it
    </span>
        <div class="flex flex-row text-sm">
            <a class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>28</span>
                <i class="text-sm ti ti-star"></i>
            </a>
            <a class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>12</span>
                <i class="text-sm ti ti-git-fork"></i>
            </a>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>MIT License</span>
                <i class="text-sm ti ti-scale"></i>
            </div>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>3 issues need help</span>
            </div>
            <div class="px-3 hover:text-sky-400 hover:font-semibold">
                <span>Updated 20 hours ago</span>
            </div>
        </div>
    </li>
</ul>
{% endblock %}
{% block content_right %}{% endblock %}
