<script>
    const star = () => {
        fetch('/{{owner}}/{{repository}}/star', {
            method: 'POST',
        }).then(() => {
            let count = document.getElementById("star-count");
            count.innerHTML += 1;
        })
    }
</script>
<button
        onclick="star()"
        class="flex items-center justify-around rounded-md drop-shadow-sm border bg-neutral-50 py-1 hover:bg-slate-200 h-11 gap-2 px-2">
    <i class="text-lg ti ti-star"></i>
    <span class="pt-1">Star</span>
    <span id="star-count" class="rounded-full p-1 bg border border-slate-200">{{stats.star_count}}</span>
</button>