{% extends "base.html" %}

{% block content_left %}
{%- match user -%}
{%- when Some with (user) -%}
<!--
<form action="/follow_user">
    <label for="follow">User apu url:</label><br>
    <input type="text" id="follow" name="follow"><br>
</form>
-->
{%- when None -%}

{%- endmatch -%}

{% endblock %}

{% block content %}
<div class="flex flex-row text-lg border-b-2 border-slate-300 justify-items-center pb-5">
    <button class="tab-button flex-1 p-2 flex items-center hover:bg-slate-200 hover:rounded-md py"
            onclick="openTab(this, 'instance-repositories')">
        <i class="ti ti-home-down px-4"></i>
        Local repositories
    </button>
    <button class="tab-button flex-1 p-2 flex items-center hover:bg-slate-200 hover:rounded-md py"
            onclick="openTab(this, 'repositories')">
        <i class="ti ti-affiliate px-4"></i>
        Repositories
    </button>
    <button class="tab-button flex-1 p-2 flex items-center hover:bg-slate-200 hover:rounded-md py"
            onclick="openTab(this, 'activities')">
        <i class="ti ti-bell px-4"></i>
        Activities
    </button>
</div>

<div>
    <div id="instance-repositories" class="tab">
        <ul class="flex flex-col divide-y divide-slate-200">
            {% for repo in local_repositories %}
            <li class="flex flex-col py-4">
                <span class="pb-5">
                <a href="/{{repo.owner}}/{{repo.name}}"
                   class="text-lg text-sky-600 font-bold hover:underline">
                    {{repo.owner}}/{{repo.name}}
                </a>
                </span>
                {%- match repo.description -%}
                {%- when Some with (description) -%}
                <span class="text-slate-600 pb-2 text-base pb-5">{{description}}</span>
                {%- when None -%}
                {%- endmatch -%}

                <div class="flex flex-row text-sm">
                    <a class="px-3 hover:text-sky-400 hover:font-semibold">
                        <span>{{repo.star_count}}</span>
                        <i class="text-sm ti ti-star"></i>
                    </a>
                    <a class="px-3 hover:text-sky-400 hover:font-semibold">
                        <span>{{repo.fork_count}}</span>
                        <i class="text-sm ti ti-git-fork"></i>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="repositories" class="tab" style="display:none">
        <p>TODO</p>
    </div>

    <div id="activities" class="tab" style="display:none">
        <p>TODO</p>
    </div>
</div>

<script>
    function openTab(tabButton, tabName) {
        let tabs = document.getElementsByClassName("tab");
        for (let i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }

        let buttons = document.getElementsByClassName("tab-button");
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("border-red-300");
            buttons[i].classList.remove("border-b-4");
        }

        let tab = document.getElementById(tabName);
        tab.style.display = "block";
        tabButton.classList.add("border-red-300");
        tabButton.classList.add("border-b-4");
    }
</script>
{%- endblock -%}

{% block content_right %}
{%- endblock -%}

