<script>
    const dropDownUserMenu = () => {
        let branchesMenu = document.getElementById("user-dropdown-menu")
        branchesMenu.classList.remove("invisible");
        branchesMenu.classList.replace("opacity-0", "opacity-100");
    }

    document.addEventListener('click', function (e) {
        let container = document.getElementById('nav-header');
        if (!container.contains(e.target)) {
            closeUserDropDownMenu();
        }
    });

    const closeUserDropDownMenu = () => {
        let branchesMenu = document.getElementById("user-dropdown-menu")
        branchesMenu.classList.replace("opacity-100", "opacity-0");
    }
</script>

<header id="nav-header" class="pb-4">
    <nav class="py-1 flex flex-row flex-wrap w-full items-center justify-between text-gray-200 bg-teal-700">
        <div class="flex px-3 items-center gap-4">
            <a
                    href="/"
                    class="hover:text-slate-500">
                <i class="text-4xl ti ti-circle-dot"></i>
            </a>
            {%- match user -%}
            {%- when Some with (user) -%}
            <form action="/follow_user">
                <label for="follow">
                <input class="text-slate-700 placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300
            rounded-md py-2 pl-5 pr-3 shadow-sm focus:outline-none focus:border-cyan-500 focus:ring-sky-500 focus:ring-1
            sm:text-sm" type="text" placeholder="Search" id="follow" name="follow">
                </label>
            </form>
            {%- when None -%}
            <label>
                <input class="text-slate-700 placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300
            rounded-md py-2 pl-5 pr-3 shadow-sm focus:outline-none focus:border-cyan-500 focus:ring-sky-500 focus:ring-1
            sm:text-sm" type="text" placeholder="Search">
            </label>
            {%- endmatch -%}
        </div>

        <div class="gap-2 flex justify-between px-3">
            {%- match user -%}
            {%- when Some with (user) -%}
            <a class="px-1 hover:bg-teal-500 hover:rounded-lg flex items-center">
                <i class="text-xl ti ti-git-branch"></i>
                <i class="text-sm ti ti-arrow-down"></i>
            </a>
            <a class="px-2 hover:bg-teal-500 hover:rounded-lg flex items-center">
                <i class="text-xl ti ti-checklist"></i>
            </a>
            <a class="px-1 hover:bg-teal-500 hover:rounded-lg flex items-center">
                <i class="text-xl ti ti-circle-plus"></i>
                <i class="text-sm ti ti-arrow-down"></i>
            </a>
            <a class="px-1 hover:bg-teal-500 hover:rounded-lg flex items-center">
                <i class="text-xl ti ti-bell"></i>
                <i class="text-sm ti ti-arrow-down"></i>
            </a>
            <span class="px-2 hover:bg-teal-500 hover:rounded-lg" onclick="dropDownUserMenu()">
                <i class="text-xl ti ti-user"></i>
            </span>
            {%- when None -%}
            <a class="px-2 hover:bg-teal-500 hover:rounded-lg"
               href="/auth/gill"
            >
                <span class="font-semibold">SignIn</span>
                <i class="text-xl ti ti-login"></i>
            </a>
            {%- endmatch -%}
        </div>
    </nav>

    <div class="relative -bottom-4">
        <div id="user-dropdown-menu" class="
           absolute right-10 top-0
           bg-neutral-50
           drop-shadow-lg
           z-50 w-400
           border-slate-400 rounded-md divide-y divide-slate-500 border border-slate-500
           invisible
           transform transition-all duration-150 ease-out opacity-0">
            <div class="flex flex-col divide-y divide-slate-300 text-sm">
                {%- match user -%}
                {%- when Some with (user) -%}
                <a
                        href="/{{user}}?tab=profile"
                        class="flex flex-row justify-between items-center p-3">
                    <span class="text-md pr-8">Your profile</span>
                </a>
                <a
                        href="/{{user}}?tab=repositories"
                        class="flex flex-row justify-between items-center p-3">
                    <span class="text-md pr-8">Your repositories</span>
                </a>
                <a
                        href="/{{user}}?tab=stars"
                        class="flex flex-row justify-between items-center p-3">
                    <span class="text-md pr-8">Your stars</span>
                </a>
                <a
                        href="/settings/profile?tab=profile"
                        class="flex flex-row justify-between items-center p-3">
                    <span class="text-md pr-8">Settings</span>
                </a>
                <a
                        href="/logout/"
                        class="flex flex-row justify-between items-center p-3">
                    <span class="text-md pr-8">Logout</span>
                </a>
                {%- when None -%}
                {%- endmatch -%}
            </div>
        </div>
    </div>
</header>


