<!doctype html>
<html lang="en">

<head>
    <title>gill</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css"/>
    <link rel="stylesheet" href="/assets/css/tabler-icons.css">
    {% block head %}{% endblock %}
</head>

<body>
{% include "navbar.html" %}
<main class="container-md flex flex-row gap-4 px-30">
    <section class="flex-none w-96">
        {% block content_left %}{% endblock %}
    </section>
    <section class="grow">
        {% block content %}{% endblock %}
    </section>
    <section class="flex-none w-96">
        {% block content_right %}{% endblock %}
    </section>
</main>
</body>
</html>