<div id="branch-dropdown-container" class="flex flex-row items-center space-around">
    <button class="flex flex-row items-center grow-0 h-14 min-w-40 max-w-60 border border-zinc-300 bg-zinc-200 hover:bg-slate-200 drop-shadow-md
                      font-medium rounded-lg px-3" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" onclick="dropDownBranches()">
        <i class="ti ti-binary-tree-2 pl-1 pr-2"></i>
        <p class="truncate ...">{{current_branch}}</p>
        <i class="text-sm ti ti-arrow-down pl-1 pr-2"></i>
    </button>
    <div class="text-1xl underline text-blue pl-6" id="navigation">
    </div>
    </div>
    <script>navigation("{{current_branch}}")</script>
</div>
<div class="relative -bottom-4">
    <div id="branches-dropdown" class="
           bg-zinc-200
           absolute z-50 w-400  border-slate-400 rounded-md divide-y divide-slate-400 invisible
           transform transition-all duration-150 ease-out opacity-0">
        <div class="flex flex-col divide-y divide-slate-300 text-sm">
            <div class="flex flex-row justify-between items-center p-3">
                <span class="text-md pr-8">Switch branches</span>
                <i class="text-xl ti ti-x hover:drop-shadow-lg" onclick="closeDropDown()">
                </i>
            </div>
            {%- for branch in branches -%}
            <a id="branch-{{ branch.name }}" class="py-2 hover:bg-slate-200 flex flex-row justify-between">
                <span>
                {%- if branch.is_current -%}
                <i class="text-sm ti ti-check px-2 pr-2"></i>
                {%- endif -%}
                {{ branch.name }}
                </span>
                {%- if branch.is_default -%}
                <span class="border rounded-full border-gray-400 p-1">default</span>
                {%- endif -%}
            </a>
            <script>setBranchDropDownLink("{{ branch.name }}")</script>
            {%- endfor -%}
        </div>
    </div>
</div>