{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% include "header.html" %}
{% include "branch.html" %}

<script>
    const openPull = () => {
        window.location.href = "/{{owner}}/{{repository}}/compare"
    }
</script>
<div class="flex flex-col justify-center border-2 rounded-md">
    <button
            onclick="openPull()"
            class="drop-shadow-sm border border-blue-600 w-20 py-2 px-3 items-center bg-blue-400 hover:bg-blue-500 rounded-md">
        New pull request
    </button>
    {%- match pull_requests -%}
    {%- when Some with (pulls) -%}
    {%- for pr in pulls -%}
    <ul>
        <li>{{pr.number}} - {{pr.title}}</li>
    </ul>
    {%- endfor -%}
    {%- when None -%}
    <span class="text-xl">No open pull requests</span>
    {%- endmatch -%}
</div>

{% endblock %}

