{% extends "base.html" %}

{% block head %}
<script src="/assets/js/code-helper.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div id="diff"></div>
    <script>
        const targetElement = document.getElementById('diff');
        const configuration = { drawFileList: true, matching: 'lines' };
        const diff2htmlUi = new Diff2HtmlUI(targetElement, `{{diff|safe}}`, configuration);
        diff2htmlUi.draw();
    </script>
</div>
{% endblock %}

