<script>
    const watch = () => {
        fetch('/{{owner}}/{{repository}}/watch', {
            method: 'POST',
        }).then(() => {
            let count = document.getElementById("watch-count");
            count.innerHTML += 1;
        })
    }

    const star = () => {
        fetch('/{{owner}}/{{repository}}/star', {
            method: 'POST',
        }).then(() => {
            let count = document.getElementById("star-count");
            count.innerHTML += 1;
        })
    }

    const fork = () => {
        fetch('/{{owner}}/{{repository}}/fork', {
            method: 'POST',
        }).then(() => {
            let count = document.getElementById("fork-count");
            count.innerHTML += 1;
        })
    }

    const goToIssues = () => {
        window.location.href = "/{{owner}}/{{repository}}/issues"
    }

    const goToPullRequest = () => {
        window.location.href = "/{{owner}}/{{repository}}/pulls"
    }

    const gotToCode = () => {
        let branch = encodeURIComponent("{{current_branch}}");
        window.location.href = `/{{owner}}/{{repository}}/tree/${branch}`
    }
    const highlightButton = () => {
        let path = window.location.pathname;
        let parts = path.split("/");
        let current = parts[parts.length - 1];

        let button;
        if (current === "issues") {
            button = document.getElementById("issues")
        } else if (current === "pulls") {
            button = document.getElementById("pulls")
        } else {
            button = document.getElementById("code")
        }

        button.classList.add("border-red-300");
        button.classList.add("border-b-4");
    }
</script>
<div class="flex flex-col gap-12">
    <div class="flex flex-row justify-between pb-4">
        <div class="items-center">
            <i class="text-lg ti ti-book-2 pr-2"></i>
            <a
                    href="/{{owner}}"
                    class="text-lg text-sky-600 font-bold hover:underline">{{owner}}</a>
            <span class="font-bold">/</span>
            <a
                    href="/{{owner}}/{{repository}}"
                    class="text-lg text-sky-600 font-bold hover:underline">{{repository}}</a>
        </div>
        <div class="flex flex-row space-around gap-x-10">
            <button
                    onclick="watch()"
                    class="flex items-center rounded-md drop-shadow-sm border bg-neutral-50 px-5 py-2 hover:bg-slate-200 gap-2">
                <i class="text-lg ti ti-eye pr-2"></i>
                <span>Watch</span>
                <span id="watch-count" class="rounded-full p-1 bg border border-slate-200">{{stats.watch_count}}</span>
            </button>

            <button class="flex items-center rounded-md drop-shadow-sm border bg-neutral-50 px-5 py-2 hover:bg-slate-200 gap-2">
                <i class="text-lg ti ti-git-fork pr-2"></i>
                <span>Fork</span>
                <span id="fork-count" class="rounded-full p-1 bg border border-slate-200">{{stats.fork_count}}</span>
            </button>

            <button
                    onclick="star()"
                    class="flex items-center rounded-md drop-shadow-sm border bg-neutral-50 px-5 py-2 hover:bg-slate-200 gap-2">
                <i class="text-lg ti ti-star pr-2"></i>
                <span>Star</span>
                <span id="star-count" class="rounded-full p-1 bg border border-slate-200">{{stats.star_count}}</span>
            </button>
        </div>
    </div>
    <div class="flex flex-row items-center justify-around border-b-2 border-slate-200 pb-2">
        <button
                id="code"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="gotToCode()">
            <i class="px-2 ti ti-code"></i>
            Code
        </button>
        <button
                id="issues"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="goToIssues()">
            <i class="px-2 ti ti-ticket"></i>
            Issues
        </button>
        <button
                id="pulls"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="goToPullRequest()">
            <i class="px-2 ti ti-git-pull-request"></i>
            Pull requests
        </button>
    </div>
</div>
<script>highlightButton()</script>

