{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% include "header.html" %}
{% include "branch.html" %}

<script>
    const openPull = () => {
        window.location.href = "/{{owner}}/{{repository}}/compare"
    }
    const goToPull = (number) => {
        window.location.href = `/{{owner}}/{{repository}}/pulls/${number}`
    }

</script>
<div class="flex flex-col justify-center border-2 rounded-md gap-2">
    <div class="flex flex-row justify-end">
        <button
                onclick="openPull()"
                class="flex flex-row items-center grow-0 h-12 min-w-40 max-w-60 border border-blue-300 bg-blue-200 rounded-lg px-3">
            New pull request
        </button>
    </div>

    {%- match pull_requests -%}
    {%- when Some with (pulls) -%}
    {%- for pr in pulls -%}
    <ul class="divide-y divide-slate-800 text-2xl gap-2">
        <li class="hover:bg-slate-200" onclick="goToPull('{{pr.number}}')">
            <i class="text-slate-600 text-2xl ti ti-git-pull-request"></i>
            <span class="text-blue-700">#{{pr.number}}</span>
            <span>{{pr.title}}</span>
        </li>
    </ul>
    {%- endfor -%}
    {%- when None -%}
    <span class="text-xl">No open pull requests</span>
    {%- endmatch -%}
</div>

{% endblock %}

