{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% include "header.html" %}
{% include "branch.html" %}
<div class="flex flex-col space-around gap-5">
    <div class="flex flex-col rounded-md border border-slate-200 divide-y divide-slate-200">
        {% for dir in tree.trees %}
        <div class="flex flex-row gap-2 py-3 px-4 items-center">
            <i class="text-xl ti ti-folder"></i>
            <a class="w-40 truncate ..." id="{{dir.filename}}">{{dir.filename}}</a>
            <a class="text-gray-400 text-xs hover:underline">{{dir.commit_summary}}</a>
            <script>generateTreeLink("{{dir.filename}}", "tree", "{{current_branch}}");</script>
        </div>
        {% endfor %}
        {% for blob in tree.blobs %}
        <div class="flex flex-row gap-2 py-3 px-4 items-center">
            <i class="text-xl ti ti-file-code"></i>
            <a class="w-40 truncate ..." id="{{blob.filename}}">{{blob.filename}}</a>
            <a class="text-gray-400 text-xs hover:underline">{{blob.commit_summary}}</a>
            <script>generateTreeLink("{{blob.filename}}", "blob", "{{current_branch}}"); </script>
        </div>
        {% endfor %}
    </div>
    {%- match readme -%}
    {%- when Some with (readme) -%}
    <div class="rounded-md border border-slate-200 prose prose-stone max-w-none py-3 px-5">
        {{- readme|safe -}}
    </div>
    {%- when None -%}
    {%- endmatch -%}
</div>
{% endblock %}