{% extends "base.html" %}

{% block head %}
{% include "navigation.html" %}
<link rel="stylesheet" type="text/css" href="/assets/css/markdown.css"/>
{% endblock %}

{% block content %}
{% include "branch.html" %}
<div class="flex flex-col space-around gap-5">
    <ul class="rounded-md border border-slate-200 divide-y divide-slate-200">
        {% for dir in tree.trees %}
        <li class="px-6 py-4">
            <i class="text-xl ti ti-folder"></i>
            <a id="{{dir.1.filename}}">{{dir.1.filename}}</a>
        </li>
        <script>generateTreeLink("{{dir.1.filename}}", "tree", "{{current_branch}}");</script>
        {% endfor %}
        {% for blob in tree.blobs %}
        <li class="px-6 py-4">
            <i class="text-xl ti ti-file-code"></i>
            <a id="{{blob.filename}}">{{blob.filename}}</a>
            <script>generateTreeLink("{{blob.filename}}", "blob", "{{current_branch}}"); </script>
        </li>
        {% endfor %}
    </ul>

    {%- match readme -%}
    {%- when Some with (readme) -%}
    <div class="rounded-md border border-slate-200 readme py-3 px-5">{{- readme|safe -}}</div>
    {%- when None -%}
    {%- endmatch -%}
</div>
{% endblock %}