{% extends "base_repository.html" %}

{% block head %}
<script defer type="text/javascript" src="/assets/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
<script>
    window.addEventListener("WasmLoaded", () => renderMarkdownElements());

    const renderMarkdownElements = () => {
        /* @formatter:off */
        {% match pull_request.description %}
        {% when Some with (description) %}
        let description = document.getElementById("pr-description");
        description.innerHTML = render_markdown('{{description|safe}}', "{{owner}}", "{{repository}}");
        {% when None %}
        {% endmatch %}

        {% for comment in comments %}
        document.getElementById("comment-{{comment.id}}").innerHTML
            = render_markdown('{{comment.content|safe}}', "{{owner}}", "{{repository}}");
        {% endfor %}
        /* @formatter:on */
    }
</script>

<div class="flex flex-col space-around gap-5">
    {% include "repository/pulls/summary.html" %}
    {% include "repository/pulls/nav.html" %}

    <div class="flex flex-col border border-slate-200 rounded-md">
        <div class="px-3 flex flex-row items-center p-2 justify-items-center font-bold border-b-2 border-slate-200">
            {{pull_request.opened_by}}
        </div>
        {%- match pull_request.description -%}
        {%- when Some with (description) -%}
        <div id="pr-description" class="rounded-md prose prose-slate max-w-none py-3 px-5">
        </div>
        {%- when None -%}
        <p>No description provided. </p>
        {%- endmatch -%}
    </div>

    {% for comment in comments %}
    <div class="flex flex-col border border-slate-200 rounded-md">
        <div class="px-3 flex flex-row items-center p-2 justify-items-center font-bold border-b-2 border-slate-200">
            {{comment.created_by}}
        </div>
        <div id="comment-{{comment.id}}" class="rounded-md prose prose-slate max-w-none py-3 px-5">
        </div>
    </div>
    {% endfor %}

    <span class="border-b-2 border-slate-200"></span>

    {%- match user -%}
    {%- when Some with (user) -%}
    {{markdown_preview_form|safe}}
    {%- if user.as_str() == owner -%}
    <span class="border-b border-slate-300"></span>
    <div class="flex flex-row gap-2 p-2 justify-end">
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/merge">
            <input
                    type="submit"
                    value="Merge"
                    class="max-w-md shadow-sm drop-shadow-sm border border-blue-300 py-2 px-3 items-center bg-blue-300 hover:bg-blue-500 rounded-md">
        </form>
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/rebase">
            <input
                    type="submit"
                    value="Rebase"
                    class="max-w-md shadow-sm drop-shadow-sm border border-sky-200 py-2 px-3 items-center bg-sky-300 hover:bg-sky-500 rounded-md">
        </form>
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/close">
            <input
                    id="close-pull-request-button"
                    type="submit"
                    value="Close"
                    class="max-w-md shadow-sm drop-shadow-sm border border-red-300 py-2 px-3 items-center bg-red-200 hover:bg-blue-500 rounded-md">
        </form>
    </div>
    {%- endif -%}
    {%- when None -%}
    {%- endmatch -%}
</div>
{% endblock %}

