{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
{% include "../header.html" %}

<script>
    // @formatter:off
    window.addEventListener("WasmLoaded", () => {
        {% match pull_request.description %}
        {% when Some with (description) %}
        let description = document.getElementById("pr-description");
        description.innerHTML = render_markdown('{{description|safe}}', "{{owner}}", "{{repository}}");
        {% when None %}
        {% endmatch %}

        {% for comment in comments %}
        document.getElementById("comment-{{comment.id}}").innerHTML = render_markdown('{{comment.content|safe}}', "{{owner}}", "{{repository}}");
        {% endfor %}
        {%- match user -%}
        {%- when Some with (user) -%}
        let newComment = document.getElementById("new-comment");
        newComment.oninput = () => {
            let preview = document.getElementById("new-comment-preview");
            preview.innerHTML = render_markdown(newComment.value, "{{owner}}", "{{repository}}");
            let closeButton = document.getElementById("close-pull-request-button");
            if (newComment.innerHTML.length > 0) {
                closeButton.value = "Close with comment"
            } else {
                closeButton.value = "Close"
            }
        }
        {% when None %}
        {% endmatch %}
    });
    // @formatter:on

    const showWriteComment = () => {
        let commentButton = document.getElementById("write-comment-button");
        let previewButton = document.getElementById("preview-comment-button");
        let sideBySideButton = document.getElementById("side-by-side-view-button");
        let preview = document.getElementById("new-comment-preview");
        let textInput = document.getElementById("new-comment");
        activeTab(commentButton);
        inactiveTab(previewButton);
        inactiveTab(sideBySideButton);
        preview.classList.add("collapse");
        textInput.classList.remove("collapse");
    }
    const showPreviewComment = () => {
        let commentButton = document.getElementById("write-comment-button");
        let previewButton = document.getElementById("preview-comment-button");
        let sideBySideButton = document.getElementById("side-by-side-view-button");
        let preview = document.getElementById("new-comment-preview");
        let textInput = document.getElementById("new-comment");
        activeTab(previewButton);
        inactiveTab(commentButton);
        inactiveTab(sideBySideButton);
        preview.classList.remove("collapse");
        textInput.classList.add("collapse");
    }

    const showSideBySideComment = () => {
        let commentButton = document.getElementById("write-comment-button");
        let previewButton = document.getElementById("preview-comment-button");
        let sideBySideButton = document.getElementById("side-by-side-view-button");
        let preview = document.getElementById("new-comment-preview");
        let textInput = document.getElementById("new-comment");
        activeTab(sideBySideButton);
        inactiveTab(previewButton);
        inactiveTab(commentButton);
        preview.classList.remove("collapse");
        textInput.classList.remove("collapse");
    }

    const activeTab = (button) => {
        button.classList.add("border-b-4");
        button.classList.add("border-red-300");
    }

    const inactiveTab = (button) => {
        button.classList.remove("border-b-4");
        button.classList.remove("border-red-300");
    }
</script>

<div class="flex flex-col space-around gap-5">
    <h3 class="text-4xl">{{pull_request.title}}
        <span class="text-scale-600">
            #{{pull_request.number}}
        </span>
    </h3>
    <div class="flex flex-row items-center">
        {%- match pull_request.state -%}
        {%- when PullRequestState::Open -%}
        <div class="flex items-center justify-center p-2 max-w-md rounded-lg bg-sky-400 gap-2">
            <i class="ti ti-git-pull-request"></i>
            <span>Open</span>
        </div>

        {%- when PullRequestState::Closed -%}
        <div class="flex items-center justify-center p-2 max-w-md rounded-lg bg-red-400  gap-2">
            <i class="ti ti-git-pull-request-closed"></i>
            <span>Closed</span>
        </div>
        {%- when Merged -%}
        <div class="flex items-center justify-center p-2 max-w-md rounded-lg bg-pink-400  gap-2">
            <i class="ti ti-git-merge"></i>
            <span>Merged</span>
        </div>
        {%- endmatch -%}
        &nbsp;
        <p>
            <a class="text-sky-600" href='/{{pull_request.opened_by}}'>{{pull_request.opened_by}}</a> wants to merge
            <a id="compare-branch" class="text-sky-600" href=''>{{pull_request.compare}}</a> into
            <a id="base-branch" class="text-sky-600" href=''>{{pull_request.base}}</a>
            <script>
                let base = encodeURIComponent("{{pull_request.compare}}");
                let compare = encodeURIComponent("{{pull_request.base}}");
                document.getElementById("compare-branch").href = encodeURIComponent(`/{{owner}}/{{repository}}/tree/${compare}`);
                document.getElementById("base-branch").href = encodeURIComponent(`/{{owner}}/{{repository}}/tree/${base}`);
            </script>
        </p>
    </div>
    <div class="flex flex-col border border-slate-200 rounded-md">
        <div class="px-3 flex flex-row items-center p-2 justify-items-center font-bold border-b-2 border-slate-200">
            {{pull_request.opened_by}}
        </div>
        {%- match pull_request.description -%}
        {%- when Some with (description) -%}
        <div id="pr-description" class="rounded-md prose prose-stone max-w-none py-3 px-5">
        </div>
        {%- when None -%}
        <p>No description provided. </p>
        {%- endmatch -%}
    </div>

    {% for comment in comments %}
    <div class="flex flex-col border border-slate-200 rounded-md">
        <div class="px-3 flex flex-row items-center p-2 justify-items-center font-bold border-b-2 border-slate-200">
            {{comment.created_by}}
        </div>
        <div id="comment-{{comment.id}}" class="rounded-md prose prose-stone max-w-none py-3 px-5">
        </div>
    </div>
    {% endfor %}

    <span class="border-b-2 border-slate-200"></span>

    {%- match user -%}
    {%- when Some with (user) -%}
    <div class="flex flex-col border border-slate-200 rounded-md gap-2 p-3">
        <div class="flex flex-row items-center justify-items-start border-b-2 border-slate-200 pb-2">
            <button id="write-comment-button"
                    onclick="showWriteComment()"
                    class="px-3 py-2 hover:bg-slate-200 hover:rounded-md border-b-4 border-red-300">
                Write
            </button>
            <button id="preview-comment-button"
                    onclick="showPreviewComment()"
                    class="px-3 py-2 hover:bg-slate-200 hover:rounded-md">
                Preview
            </button>
            <button id="side-by-side-view-button"
                    onclick="showSideBySideComment()"
                    class="px-3 py-2 hover:bg-slate-200 hover:rounded-md">
                Side by Side
            </button>
        </div>
        <form class="flex flex-col gap-2"
              action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/comment">
            <div class="flex flex-row gap-2">
                <label for="new-comment">
                </label>
                <textarea id="new-comment" class="resize-none h-48 max-h-full flex-1 rounded-md bg-gray-100 pb-2" type="text" name="comment">
                </textarea>
                <div id="new-comment-preview" class="flex-1 prose prose-stone max-w-none py-3 px-5 collapse">
                </div>
            </div>
            <input
                    class="self-end max-w-lg shadow-sm drop-shadow-sm border
                    border-blue-300 bg-blue-200 py-2 px-3 items-center hover:bg-blue-300 rounded-md"
                    type="submit"
                    value="Comment"
            >
        </form>
    </div>

    <span class="border-b-2 border-slate-200"></span>

    {%- if user.as_str() == owner -%}
    <div class="flex flex-row gap-2 p-2 border-slate-200 border rounded-md justify-end">
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/merge">
            <input
                    type="submit"
                    value="Merge"
                    class="max-w-md shadow-sm drop-shadow-sm border border-blue-300 py-2 px-3 items-center bg-blue-300 hover:bg-blue-500 rounded-md">
        </form>
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/rebase">
            <input
                    type="submit"
                    value="Rebase"
                    class="max-w-md shadow-sm drop-shadow-sm border border-sky-200 py-2 px-3 items-center bg-sky-300 hover:bg-sky-500 rounded-md">
        </form>
        <form action="/{{owner}}/{{repository}}/pulls/{{pull_request.number}}/close">
            <input
                    id="close-pull-request-button"
                    type="submit"
                    value="Close"
                    class="max-w-md shadow-sm drop-shadow-sm border border-red-300 py-2 px-3 items-center bg-red-200 hover:bg-blue-500 rounded-md">
        </form>
    </div>
    {%- endif -%}
    {%- when None -%}
    {%- endmatch -%}
</div>

{% endblock %}

