<script>
    const goToIssues = () => {
        window.location.href = "/{{owner}}/{{repository}}/issues"
    }

    const goToPullRequest = () => {
        window.location.href = "/{{owner}}/{{repository}}/pulls"
    }

    const gotToCode = () => {
        window.location.href = `/{{owner}}/{{repository}}`
    }
    const highlightButton = () => {
        let path = window.location.pathname;
        let parts = path.split("/");
        let current = parts[parts.length - 1];

        let button;
        if (current === "issues") {
            button = document.getElementById("issues")
        } else if (current === "pulls") {
            button = document.getElementById("pulls")
        } else {
            button = document.getElementById("code")
        }

        button.classList.add("border-red-300");
        button.classList.add("border-b-4");
    }
</script>
<div class="flex flex-col gap-8">
    <div class="flex flex-row justify-between items-center pb-4">
        <div class="items-center">
            <i class="text-lg ti ti-book-2 pr-1"></i>
            <a
                    href="/{{owner}}"
                    class="text-lg text-sky-600 font-bold hover:underline">{{owner}}</a>
            <span class="font-bold">/</span>
            <a
                    href="/{{owner}}/{{repository}}"
                    class="text-lg text-sky-600 font-bold hover:underline">{{repository}}</a>
        </div>
        <div class="flex flex-row space-around gap-x-8">
            {% include "repository/components/watch-button.html" %}
            {% include "repository/components/fork-button.html" %}
            {% include "repository/components/star-button.html" %}
            {% include "repository/components/clone-button.html" %}
        </div>
    </div>
    <div class="flex flex-row items-center justify-around border-b-2 border-slate-200 pb-2">
        <button
                id="code"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="gotToCode()">
            <i class="px-2 ti ti-code"></i>
            <span class="pt-1">Code</span>
        </button>
        <button
                id="issues"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="goToIssues()">
            <i class="px-2 ti ti-ticket"></i>
            <span class="pt-1">Issues</span>
        </button>
        <button
                id="pulls"
                class="tab-button px-6 py-2 flex items-center justify-center hover:bg-slate-200 hover:rounded-md"
                onclick="goToPullRequest()">
            <i class="px-2 ti ti-git-pull-request"></i>
            <span class="pt-1">Pull requests</span>
        </button>
    </div>
</div>
<script>highlightButton()</script>

