{% extends "base-explore.html" %}

{% block head %}
<script src="/assets/js/highlight.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/vs.min.css"/>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<div id="code-container" class="px-56">
    <pre class="border-2 px-10">
        {%- match language -%}
            {%- when Some with (lang) -%}
                <code class="language-{{lang}}">
                    {{- blob -}}
                </code>
            {%- when None -%}
                <code>
                    {{- blob -}}
                </code>
            {%- endmatch -%}
    </pre>
</div>
{% endblock %}


