<!doctype html>
<html lang="en">
<head>
    <title>ruisseau</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css"/>
    <link rel="stylesheet" href="/assets/css/tabler-icons.css">
    {% block head %}{% endblock %}
</head>
<body>

<script defer></script>

{%- match user -%}
{%- when Some with (user) -%}
<p>{{- user -}}</p>
{%- when None -%}
<p>No user</p>
{%- endmatch -%}

</body>
</html>


