<html>
<head>
</head>
</html>
<body>

</body>
<script>
    const params = new URLSearchParams(window.location.search);
    const code = params.get("code");

    let response = fetch(	"https://keycloak.cloud.hoohoot.org/auth/realms/hoohoot/protocol/openid-connect/token", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        mode: 'cors',
        body: new URLSearchParams({
            'grant_type': "authorization_code",
            'client_id': "ruisseau",
            'client_secret': "evTIg2V3JBU9KBEW98VgmFhENAvf7s1t",
            'code': code,
            'redirect_uri': "http://localhost:3000/login/callback"
        })
    }).then(reponse => {
        console.log(reponse.body);
    });
</script>